.header {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 7.5rem;
}

.header .information {
    padding: 1.25rem;
    color: #b3b3b3;
}


.header .controls {
    position: absolute;
    right: 0;
    top: 1.25rem;
    height: 2rem;
    padding: 0 1rem;
}

@media screen and (max-width: 480px) {
    .header .controls {
        display: none;
    }
}

.controls>button {
    float: right;
    cursor: pointer;
    margin: 0 .5rem;
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    color: #fff;
    background: none;
    border: none;
}

.controls>button:hover {
    color: var(--theme-color);
}

.title {
    width: 100%;
    line-height: 3.125rem;
    height: 3.125rem;
    font-size: 2rem;
    color: #fff;
}

.description {
    width: 100%;
    line-height: .875rem;
    font-size: .875rem;
    margin-bottom: .375rem;
    font-style: italic;
    color: #9e9e9e;
}

.artist-album {
    width: 100%;
    color: #b3b3b3;
    line-height: 1.5rem;
    line-height: 1rem;
    font-size: 1rem;
}